/*#fix {
	position: fixed;
	background-color: yellow;
}*/

#fix {
	position: absolute;
	/*left: 0px;
	top: 0px;*/
	/*width: 760px;*/
	/*bottom: 0%;*/
	background-color: yellow;
}

body {
	margin: 0%;
	background-color: lightgrey;
}

#head {
	background-color: yellow;
	margin-top: 0px;
	height: 50px;
	text-align: center;
	padding-top: 10px;

}

#left {
	background-color: yellow;
	float: left;
	margin: 15px 15px 15px 25px;
	height: 500px;
	padding: 0px 15px 15px 15px;
	width: 24%;
	text-align: center;
	border-radius: 17px;
	/*position: fixed;*/
}

#main {
	float: left;
	background-color: rgba(0, 255, 255, 0.3);
	margin: 15px 26px;
	text-align: center;
	width: 35%;		/* u CAN do 35.5% !!!! */
	height: 500px;
	padding: 0px 15px 15px 15px;
	border-radius: 17px;
	outline: 3px solid black;
	border: 3px solid blueviolet;

}

#right {
	background-color: rgba(255, 225, 0, 0.5);
	float: right;
	margin: 15px 25px 15px 15px;
	height: 500px;
	padding: 0px 15px 15px 15px;
	width: 24%;
	text-align: center;
	border-radius: 17px;
}



